PDD_CLIENT_ID=your_pdd_client_id
PDD_CLIENT_SECRET=your_pdd_client_secret
PDD_PID=your_pdd_pid

TAOBAO_APP_KEY=your_taobao_app_key
TAOBAO_APP_SECRET=your_taobao_app_secret
TAOBAO_PID=your_taobao_pid

JD_APP_KEY=your_jd_app_key
JD_SECRET_KEY=your_jd_secret_key
JD_PID=your_jd_pid
